@model CountryViewModel
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Index";
    bool isAdmin = HttpContextAccessor.HttpContext.Request.Cookies["username"] == "admin";
}

<form asp-controller="Countries" asp-action="Search" method="get">
    <input type="search" name="searchText" placeholder="Search..." />
    <button type="submit" class="btn btn-primary">Search</button>
</form>

@if (isAdmin)
{
    <p>
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </p>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ModelList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @if (isAdmin)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="pagination-container">
    @Html.PagedListPager(Model.PagedList, page => Url.Action("Index", new { page }))
</div>

<style>
    .pagination-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .pagination a {
        color: #007bff;
        text-decoration: none;
        padding: 5px 10px;
        margin: 0 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .pagination .active a {
        background-color: #007bff;
        color: #fff;
        border: 1px solid #007bff;
    }

    .pagination a:hover {
        background-color: #f5f5f5;
    }
</style>