@model IEnumerable<RWA_MVC_project.Models.Video>
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    var page = (int?)ViewData["page"];
    var size = (int?)ViewData["size"];
    var pages = (int?)ViewData["pages"];

    bool isAdmin = HttpContextAccessor.HttpContext.Request.Cookies["username"] == "admin";
}

<form asp-controller="Videos" asp-action="Search" method="get">
    <input type="search" name="searchText" placeholder="Search..." value="@ViewData["searchVideos"]" />
    <button type="submit" class="btn btn-primary">Search</button>
    <a asp-action="ClearSearch" asp-controller="Videos" class="btn btn-outline-info">Show all movies</a>
</form>

<br />

@if(isAdmin){
<p>
        <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<div class="row" id="videos-table-body">
    <partial name="_VideosPagingPartial" />
</div>

<div class="btn-group">
    @for (var i = 1; i <= pages + 1; i++)
    {
        var currClass = page == i ? "btn-primary" : "btn-outline-primary";
        <a asp-action="Index"
           asp-route-page="@i"
           asp-route-size="@size"
           data-page="@i"
           class="pager-btn btn @currClass">@(i)</a>
    }
</div>

@section Scripts {
    <script>
        $(".pager-btn").click(function (event) {
            console.log("Pager button clicked");
            event.preventDefault();

            var page = $(this).data("page");

            var ajaxData = {
                page: page,
                size: @size
                    };

            $.ajax({
                type: "GET",
                url: "/Videos/VideosPagingPartial",
                data: ajaxData,
                success: function (data) {
                    $("#videos-table-body").html(data);

                    $(".pager-btn").removeClass("btn-primary");
                    $(".pager-btn").addClass("btn-outline-primary");

                    $(".pager-btn[data-page=" + page + "]").removeClass("btn-outline-primary");
                    $(".pager-btn[data-page=" + page + "]").addClass("btn-primary");
                },
                error: function (data) {
                    console.error("Ajax GET error", data);
                }
            });
        });
    </script>
}

<style>
    .fixed-image {
        width: 100%;
        height: auto;
        max-width: 600px;
        max-height: 350px;
    }
</style>

