@model IEnumerable<RWA_MVC_project.Models.Image>

@{
    ViewData["Title"] = "Index";
    bool isAdmin = HttpContextAccessor.HttpContext.Request.Cookies["username"] == "admin";
}

@if (isAdmin)
{
    <p>
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </p>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.Content" class="card-img-top fixed-image">
            </td>
            <td>
                @if(isAdmin){
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                }
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>

<style>
    .fixed-image {
        width: 100%;
        height: auto;
        max-width: 250px;
        max-height: 300px;
    }
</style>