@model IEnumerable<RWA_MVC_project.Models.Genre>

@{
    ViewData["Title"] = "Index";
    bool isAdmin = HttpContextAccessor.HttpContext.Request.Cookies["username"] == "admin";
}

<form asp-controller="Genres" asp-action="Search" method="get">
    <input type="search" name="searchText" placeholder="Search..." />
    <button type="submit" class="btn btn-primary">Search</button>
</form>

@if (isAdmin)
{
    <p>
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </p>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if(isAdmin){
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                }
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
